<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adress</th>
      <th>Email</th>
      <th>Pay type</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.name, order %></td>
        <td><%= order.adress %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

