/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require nervs_framework
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-webfont.eot');
    src: url('alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('alexbrush-regular-webfont.svg'),
         url('alexbrush-regular-webfont.woff') format('woff'),
         url('alexbrush-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roseregular';
    src: url('rose-webfont.eot');
    src: url('rose-webfont.eot?#iefix') format('embedded-opentype'),
         url('rose-webfont.svg') format('svg'),
         url('rose-webfont.woff') format('woff'),
         url('rose-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lobster_1.3regular';
    src: url('lobster_1.3-webfont.eot');
    src: url('lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('lobster_1.3-webfont.svg') format('svg'),
         url('lobster_1.3-webfont.woff') format('woff'),
         url('lobster_1.3-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

#notice {
      color: #000 !important;
      border: 2px solid red;
      padding: 1em;
      margin-bottom: 2em;
      background-color: #f0f0f0;
      font: bold smaller sans-serif;
  
}

