@import "palette";
@import "function";

#grid-wrap-menu{
  /*padding: 30px;*/
  padding-bottom: em(20);
  padding-top: em(20);
  margin-bottom: em(50);
  .pseudo{
    padding: 0 em(10);
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



table {
  border-collapse: collapse;
}

tr{

}

thead{
  color: white;
  //color: $middle-green;
  th{
    padding: 5px;
    background: $middle-green;
    color: white;
  }
}

table tr td {
  padding: 5px;
}



table tr th, table tr td {
  vertical-align: top;
  padding: 10px;
}

table{
  width: 100%;
}

table tr{
  //border-bottom: 1px solid lighten(black, 85%);
  &:last-child{
    border-bottom: none;
  }
}
table thead tr td{
  //border-bottom: 1px solid lighten(black, 85%);
}



.list_image{
  width: 100%;
}

.list_description{
  /*width: 60%;*/

  dl{
    margin: 0;
    margin-bottom: 10px;
  }

  dt{
    color: $dark-blue;
    font-weight: bold;
    font-size: larger;
  }

  dd{
    margin: 0;
  }
}

.list_line_even{
  //background: #cadae4;
}

.list_line_odd{
  //background: #d1dde4;
}

.subtable{
  font-size: 0.9em;
  margin-top: 10px;
  tr{
    margin-bottom: 0px;
  }
}

#right-panel{
  position: relative;
  width: 40%;
  float: right;
  line-height: 1.2em;
  h1{
    font-size: 2em;
  }
  .pseudo{
    padding: 20px;
    padding-top: 0px;
  }
}
#projects-menu, #budget-menu{
  width: 100%;
  margin-bottom: 20px;
}
.main-part{
  .pseudo{
    margin-right: 20px;
  }
  width: 60%;
  h2{
    font-size: 2em;
  }
}

h1{
  font-size: 300%;
  font-weight: 300;
  border-bottom: 1px solid #f8f8f8;
}

.main-part{
  .pseudo{
    position: relative;
  }
}
.name-on-image{
  position: absolute;
  top: 0;
  left: -15px;
  padding-left: 30px; 
  width: 102%;
  margin-right: 15px;
}

.in_table{
  input{
    margin: 0px;
    width: 20px;
  }
  
}

.table{
  display:table;         
  width:auto;         
}
.row{
  display:table-row;
  width:auto;
  clear:both;
}
.col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;         
}

.remove{
  width: 70px;
}
.small-in-table{
  margin-top: 0.6em;
}

.left-project{
  width: 20%;
  float: left;
}

.right-services{
  width: 80%;
  float: right;
}

.margin10{
  margin: 10px;
}


#menu-horizontal{
  display: block;
  ul.left{
    li{
      float: left;
    }
  }
  ul.right{
    li{
      float: right;
    }
  }
  ul{
    margin: em(5) 0;
  }
  a{
    padding: 0 em(10);
  }
}