$dark-green: #00372d;

$light-green: #1B967E;
$light-green-strong: #319682;

$light-blue: #16C2FB;
$dark-blue: #007095;
$middle-blue: #009ACD;

$middle-green: #196e76;
$text-color: #4b4b4b;

$red: rgb(223, 40, 65);
$dark-red: rgb(186, 14, 37);

$hurma: rgb(4, 189, 251);