// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "palette";

.search-products
{
  //border-bottom: 3px solid #007095;
}

.category{
  float: left;
  width: 15%;
  margin-top: 50px;
  h3{
    font-family: 'pt_sans_narrowbold';
    color: $light-green;
  }
  a{
    color: $light-green-strong;
    line-height: 1.2em;
  }
}

.list-products{
  float: right;
  width: 85%;
  .pseudo-list-products{
    //border-left: 3px solid #007095;
    //border-right: 3px solid #007095;
    //padding: 0 20px;

    ul{
      display: block;
      position: relative;
      li{
        width: 33%;
        padding: 10px;
        text-align: center;
        //padding: 25px;
        margin: 5px 0 0;
        display: inline-block;
        //min-height: 420px;
        vertical-align: top;
        position: relative;
        h3{
          color: #47a3da;
        }
        .price{
          color: #c0c0c0;
        }
        .details{
          color: #47a3da;
          max-width: 300px;
          min-height: 70px;
          margin: 0 auto;
        }
      }

    }
  }
}






.products {
   table {
     border-collapse: collapse;
     
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
    
  }
  .list_image {
    width: 60px;
    height: 70px;
    
  }
  .list_description {
    width: 60%;
    dl {
      margin: 0;
      
    }
    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
      
    }
    dd {
      margin: 0;
      
    }
    
  }
  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
    
  }
  .list_line_even {
    background: #e0f8f8;
    
  }
  .list_line_odd {
    background: #f8b0f8;
    
  }
}

.link-product{
  display: block;
  padding: 25px;
  background: #f1f4f9;
  &:hover{
    //border-top: 3px solid #007095;
    //border-bottom: 3px solid #007095;
    background: #007095;
  }
}

.add-to-cart{
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 107px;
  //border: 1px solid #1b967e;
  border-radius: 0;
}

.add-to-favorites{
  position: absolute;
  bottom: -5px;
  left: 102px;
  //background: $red;
  //border: 1px solid #1b967e;
  border-radius: 0;
  &:hover{
    background: $dark-red;
    background: #007095;
  }
}